<template>
  <nav>
    <router-link to="/">Home</router-link>
    |
    <router-link :to="{path: 'about'}">About</router-link>
    |
    <router-link :to="{path: 'todos'}">Todos</router-link>
  </nav>
</template>

<script>
export default {
  name: 'TheNavbar',
};
</script>

<style scoped>

</style>
