<template>
  <div class="home">
    <ShopItem name="Tomates" @addToCart="addToCart"/>
    <ShopItem name="Carottes" @addToCart="addToCart"/>
    <ShopItem name="Patates" @addToCart="addToCart"/>

    <pre>
      {{ cartDebug }}
    </pre>
  </div>
</template>

<script>
// @ is an alias to /src
import ShopItem from '@/components/ShopItem.vue';

export default {
  name: 'HomeView',
  components: {
    ShopItem,
  },
  computed: {
    cartDebug() {
      return JSON.stringify(this.cart, null, 2);
    },
  },
  data() {
    return {
      cart: {},
    };
  },
  methods: {
    addToCart({
      quantity,
      name,
    }) {
      this.cart = {
        ...this.cart,
        [name]: (this.cart[name] ?? 0) + quantity,
      };

      // this.cart[name] = (this.cart[name] ?? 0) + quantity;

      // this.$set(this.cart, name, (this.cart[name] ?? 0) + quantity);
    },
  },
};
</script>
