<template>
  <div>
    <h1>Ceci est ma super Todo list !</h1>

    <TodoInput :responsables="responsables" v-bind:todo="todoToEdit" v-bind:todos="todos"
               @addTodo="addTodo"
               @editTodo="editTodo" @confirmEditTodo="confirmEditTodo"/>

    <div style="margin-top: 1rem;"></div>

    <TodoItem @click="selectTodo" v-bind:key="todo.id" v-for="(todo) in todos"
              :todo="todo"
              @deleteTodo="deleteTodo" @editTodo="editTodo"/>

    <div class="spaced-container">
      <span>Il y a {{ todos.length }} tâches</span>
      <br/>
      <span>Dont {{ selectedTodos }} de selectionnées </span>
      <br/>
      <button @click="bulkDeleteTodos">Supprimer les tâches selectionnées</button>
    </div>
  </div>
</template>

<script>
import TodoInput from '@/components/TodoInput.vue';
import TodoItem from '@/components/TodoItem.vue';

export default {
  name: 'TodoView',
  components: {
    TodoItem,
    TodoInput,
  },
  data() {
    return {
      responsables: ['Julien', 'Romain'],
      todos: [],
      todoToEdit: {},
      selectedTodos: 0,
    };
  },
  methods: {
    addTodo(todo) {
      this.todos.push({
        ...todo,
        id: this.getId(),
      });
    },
    editTodo({ id }) {
      this.todoToEdit = this.findTodo(id)?.todo;
    },
    confirmEditTodo(props) {
      const todo = this.findTodo(props.id);

      this.todos[todo.index] = {
        id: props.id,
        title: props.title,
        nbHours: props.nbHours,
        selectedResponsable: props.selectedResponsable,
      };
    },
    deleteTodo(id) {
      const todo = this.findTodo(id);

      this.todos.splice(todo.id, 1);
    },
    getId() {
      return Math.floor(Math.random() * 100000);
    },
    findTodo(id) {
      let foundTodo;
      this.todos.forEach((todo, index) => {
        if (todo.id === id) {
          foundTodo = {
            index,
            todo,
          };
        }
      });

      return foundTodo;
    },
    selectTodo(e) {
      const todoDiv = e.target;

      todoDiv.classList.toggle('selected');

      this.selectedTodos = document.querySelectorAll('.selected').length;
    },
    bulkDeleteTodos() {
      const selectedTodos = document.querySelectorAll('.selected');

      selectedTodos.forEach((todo) => {
        this.deleteTodo(+todo.getAttribute('id'));
      });

      if (Number.isNaN(this.selectedTodos - selectedTodos)) {
        this.selectedTodos = 0;
      } else {
        this.selectedTodos -= selectedTodos;
      }
    },
  },
};
</script>

<style scoped>
.spaced-container {
  margin-top: 5rem;
}
</style>
