<template>
  <div style="margin-bottom: 2rem">
    <span>{{ name }} -> {{ quantity }}</span>
    <button @click="increment">
      +
    </button>
    <button @click="decrement">
      -
    </button>
    <button @click="addToCart">
      Ajouter au panier
    </button>
  </div>
</template>

<script>
export default {
  name: 'ShopItem',
  props: ['name'],
  data() {
    return {
      quantity: 0,
    };
  },
  methods: {
    increment() {
      this.quantity += 1;
    },
    decrement() {
      this.quantity -= 1;
    },
    addToCart() {
      this.$emit('addToCart', {
        quantity: this.quantity,
        name: this.name,
      });
      this.quantity = 0;
    },
  },
};
</script>

<style scoped>

</style>
