<template>
  <div v-bind:class="{ checked: isChecked}">
    <div :id="todo.id" class="todo">
      {{ todo.selectedResponsable }} : {{ todo.title }} ({{ todo.nbHours }} heures)

      <div v-if="!isChecked">
        <button @click="checkTodo">
          Tâche effectuée
        </button>

        <button @click="editTodo">
          Editer
        </button>

        <button @click="deleteTodo">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TodoItem',
  props: ['todo'],
  methods: {
    checkTodo() {
      this.isChecked = true;
    },
    editTodo() {
      this.$emit('editTodo', { id: this.todo.id });
    },
    deleteTodo() {
      this.$emit('deleteTodo', this.todo.id);
    },
  },
  data() {
    return {
      isChecked: false,
    };
  },
};
</script>

<style scoped>

.todo {
  padding: 2rem;
}

.checked {
  border: 2px solid green;
}

.selected {
  background: gray;
}
</style>
