<template>
  <div>
    <div>
      <span class="error" v-if="error !== null" v-text="error"></span>
    </div>
    <input type="text" v-model="title" placeholder="Tâche"/>
    <input type="number" v-model="nbHours" placeholder="Nombre d'heures"/>
    <select v-model="selectedResponsable">
      <option v-bind:key="responsible" v-for="responsible in responsables" :value="responsible">
        {{ responsible }}
      </option>
    </select>

    <button @click="addTodo">Ajouter</button>

    <button v-if="id !== undefined" @click="editTodo">Modifier</button>
  </div>
</template>

<script>

export default {
  name: 'TodoInput',
  props: ['responsables', 'todo', 'todos'],
  data() {
    return {
      error: '',
      id: this.todo?.id,
      title: this.todo?.title,
      nbHours: this.todo?.nbHours,
      selectedResponsable: this.todo?.selectedResponsable ?? this.responsables[0],
    };
  },
  watch: {
    todo(newValue) {
      this.id = newValue?.id;
      this.title = newValue?.title;
      this.nbHours = newValue?.nbHours;
      this.selectedResponsable = newValue?.selectedResponsable ?? this.responsables[0];
    },
  },
  methods: {
    addTodo() {
      try {
        this.validateTodo();

        this.$emit('addTodo', {
          title: this.title,
          nbHours: this.nbHours,
          selectedResponsable: this.selectedResponsable,
        });

        this.resetTodo();
      } catch (e) {
        this.error = e.message;
      }
    },
    editTodo() {
      this.$emit('confirmEditTodo', {
        id: this.id,
        title: this.title,
        nbHours: this.nbHours,
        selectedResponsable: this.selectedResponsable,
      });

      this.resetTodo();
    },
    resetTodo() {
      this.error = '';
      this.id = undefined;
      this.title = '';
      this.nbHours = null;
      [this.selectedResponsable] = this.responsables;
    },
    validateTodo() {
      if (!this.title || !this.nbHours) {
        throw new Error('Un des champs est vide');
      }

      if (!Number.isInteger(this.nbHours)) {
        throw new Error('Le nombre d\'heure n\'est pas un nombre valide');
      }

      let hours = 0;
      this.todos.forEach((todo) => {
        if (hours + todo.nbHours > 10) {
          throw new Error('Le responsable est trop occupé');
        }

        hours += todo.nbHours;
      });

      if (this.todos.length >= 3) {
        throw new Error('Le responsable est trop occupé');
      }
    },
  },
};

</script>

<style scoped>
.error {
  color: red;
  font-size: 2rem
}
</style>
